#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #fafafa; Light background for the root container */
  background-color: var(--bg2);
}

/* .dark #root {
  background-color: #2b2b2b;
  /* background-color: #555; */
/* } */

/* @media (prefers-color-scheme: dark) {
  #root {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }
  body {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }

  h1,
  a,
  button {
    color: #f5f5f5;
  }

  a:hover {
    color: #79b8ff;
  }

  button {
    background-color: #2a2a2a;
  }

  button:hover {
    background-color: #3a3a3a;
  }

  button:disabled {
    background-color: #444;
    color: #888;
  }
} */

/* Header Styling */
header {
  background-color: var(--bg); /* Clean white background for header */
  padding: 1.5em 2em; /* Padding for spacing */
  /* box-shadow: 0px 4px 6px var(--shadow); Subtle shadow for depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  /* position: sticky;
  top: 0;
  z-index: 100; */
}

/* .dark header {
  background-color: #1e1e1e;
} */

header p {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

header .title {
  display: flex;
  place-items: center;
}

header .title img {
  padding-right: 0.5rem;
  height: 35px;
}

nav {
  display: flex;
  gap: 1.5em;
}

nav a {
  /* color: var(--text); */
  font-size: 1.1rem;
  /* font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;*/
}

/* nav a:hover {
  color: var(--primary-focus); 
} */

/* Footer Styling */
footer {
  /* background-color: #333; */
  /* Dark background for footer */
  background-color: #252f3c;
  /* color: #fff; */
  padding: 2em;
  text-align: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow to create separation */
  /* margin-top: 2em; Space before the footer */
  margin-top: 1em;
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: #bbb;
}
/* 
footer a {
  color: #fff; 
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #747bff;
} */

.bold-btn button {
  /* background-color: #e0e0e0; */
  /* color: #333; */
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 0.9rem;
}

.error-msg {
  color: #d9534f;
  font-weight: bold;
}

.loading-msg {
  font-size: 2rem;
  font-weight: bold;
  /* color: #555; */
  color: var(--text-muted);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5); /* light mode */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* above everything else */
  pointer-events: none; /* allows clicks through if needed */
}

.dark .loading-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dark mode overlay */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(0, 119, 204, 0.2);
  border-top-color: #0077cc;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.inline-spinner {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid transparent;
  /* border: 2px solid rgba(0, 119, 204, 0.2); */
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.vertical-margin {
  margin-top: 2em;
}

/* .bold-btn button:hover {
  background-color: #ccc;
} */

/* Home Page */

/* Latest articles slideshow */
.latest-articles-slideshow {
  position: relative;
  /* max-width: 600px; */
  /* margin: 2rem auto; */
  margin-top: 2rem;
  /* padding: 2rem; */
  overflow: hidden;
  border-radius: 1rem;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); */
  background-color: var(--bg);
}

.latest-articles-slideshow h2 {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 2rem;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-bottom: 1px solid #ccc; */
  border-bottom: 2px solid var(--shadow);
  /* border-radius: 1rem; */
}

.slide-title {
  padding: 1rem;
  font-size: 3.5rem;
  text-align: center;
}

.slide-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slide-controls button {
  /* background: rgba(255, 255, 255, 0.85); */
  /* border: none; */
  /* font-size: 1.5rem; */
  padding: 0.5rem 1rem;
  /* cursor: pointer; */
}

.slide-dots {
  text-align: center;
  margin-top: 0.5rem;
}

.dot {
  font-size: 1.5rem;
  /* color: #ccc; */
  color: var(--disabled);
  cursor: pointer;
  margin: 0 0.2rem;
}

.dot.active {
  color: #333;
  color: var(--primary-focus);
  cursor: default;
}

/*Articles by topic*/
.articles-by-topic-section {
  border-radius: 1rem;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); */
  background-color: var(--bg);
  margin-bottom: 2rem;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem;
  margin-bottom: 0rem;
}

.topics-header h2 {
  font-size: 1.8rem;
  margin-bottom: 0rem;
}

.view-all-link {
  color: var(--primary);
}

.view-all-link:hover {
  color: var(--primary-focus);
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.topic-card {
  /* border: 1px solid #ddd; */
  border: 1px solid var(--shadow);
  border-radius: 1rem;
  padding: 1rem;
  /* background-color: #f9f9f9; */
  background-color: var(--bg2);
  /* text-decoration: none; */
  /* color: inherit; */
  box-shadow: 0 4px 8px var(--shadow);
  transition: transform 0.2s ease-in-out;
}

.topic-card h3 {
  margin: 0 0 0.5rem;
  text-transform: capitalize;
  font-size: 2.2rem;
}

.topic-card p {
  color: var(--text-muted);
}

.topic-card:hover {
  transform: translateY(-3px) scale(1.04);
}

#nav-path {
  padding: 0.5%;
  text-align: left;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

/* Container for title and select topic */
.articles-title-select-topic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Space between the title and select dropdown */
  margin: 0;
}

.articles-title-select-topic-container h1 {
  margin: 0;
  margin-bottom: 0.1em;
  text-transform: capitalize;
}

/* Styling for the select dropdown */
/* .a1rticles-title-select-topic-container select {
  padding: 0.5em 1em; 
  /* Add padding for better spacing inside the select */
/* font-size: 1rem;  */
/* Set a consistent font size */
/* text-transform: capitalize; */
/* background-color: #fff;  */
/* White background for a clean look */
/* border: 2px solid #ccc;  */
/* Subtle border */
/* border-radius: 0.5em;  */
/* Rounded corners */
/* cursor: pointer;  */
/* Change the cursor to a pointer on hover */
/* appearance: none;  */
/* Remove default dropdown appearance */
/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
/* Add soft shadow for depth */
/* transition: border-color 0.3s ease, box-shadow 0.3s ease;  */
/* Smooth transition for hover */
/*} */

/* .articles-title-select-topic-container select {
  border: 2px solid var(--shadow);
} */

.articles-title-select-topic-container select {
  font-size: 1.2rem;
}

.articles-title-select-topic-container select option {
  background-color: var(--bg2);
}

/* .articles-title-select-topic-container select:hover {
  border-color: var(--primary);
}

.articles-title-select-topic-container select:focus {
  border-color: var(--primary-focus);
  outline: none;
} */

/* On hover, make the border more prominent */
/* .a1rticles-title-select-topic-container select:hover { */
/* border-color: var(--primary);  */
/* Change border on hover */
/* box-shadow: 0 2px 6px rgba(83, 91, 242, 0.3);  */
/* More prominent shadow on hover */
/* } */

/* On focus, highlight the select with a subtle glow */
/* .a1rticles-title-select-topic-container select:focus { */
/* border-color: var(--primary-focus); */
/* Border color change when focused */
/* outline: none; */
/* Remove default focus outline */
/* box-shadow: 0 0 0 3px rgba(83, 91, 242, 0.2);  */
/* Add a glowing effect */
/* } */

/* Optional: Add an arrow for the select dropdown for better user experience */
/* .articles-title-select-topic-container select::-ms-expand { */
/* display: none;  */
/* Remove default dropdown arrow in IE */
/* } */

/* Styling for the Sort Options Container */

.sort-options-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensures items stack if needed */
  align-items: flex-start; /* Aligns items to the left */
  justify-content: flex-start; /* Aligns content to the start */
  padding-left: 1rem; /* Optional: adds some spacing from the left edge */
}

.sort-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin: 2rem 0;
}

/* Styling the form for better spacing */
.sort-options form {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.sort-options form div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Styling for the select dropdowns */
/* .sort-options select {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
  appearance: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
} */

/* Adjusting hover state */
/* .sort-options select:hover {
  border-color: #535bf2;
  box-shadow: 0 2px 6px rgba(83, 91, 242, 0.3);
} */

/* Adjusting focus state */
/* .sort-options select:focus {
  border-color: #535bf2;
  outline: none;
  box-shadow: 0 0 0 3px rgba(83, 91, 242, 0.2);
} */

/* Remove default arrow in IE */
.sort-options select::-ms-expand {
  display: none;
}

/* Styling labels for better alignment */
.sort-options label {
  font-size: 1rem;
  line-height: normal;
  /* font-weight: 500; */
  /* color: #333; */
}

/* Article List Container */
.articles-list-container,
.comments-header,
/* .comments-list, */
.add-comment-container {
  /* background-color: #fff;  */
  /* Clean white background for the articles section */
  background-color: var(--bg);
  border-radius: 1em;
  padding: 2rem;
  padding-top: 0.1rem;
}

.articles-list-container .error-msg {
  font-size: 2rem;
  font-weight: bold;
}

/* Article Item Styling */
.article-item {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns layout */
  gap: 1.5em;
  padding: 1.5em;
  /* border: 1px solid #ccc; */
  border: 1px solid var(--shadow);
  margin-bottom: 2em;
  /* background-color: #fff; */
  background-color: var(--bg2);
  border-radius: 1em;
  box-shadow: 0px 4px 8px var(--shadow);
  position: relative; /* For positioning the topic button */
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.article-item:hover {
  transform: translateY(-3px) scale(1.04);
}

.article-item .article-content {
  display: flex;
  flex-direction: column;
}

.article-item .article-image {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--shadow);
  border-radius: 1rem;
  margin-bottom: 1rem;
  object-fit: contain; /* Ensures image fits well inside the container */
  display: block;
}

/* Topic Button */
.article-item .topic-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* background-color: #e0e0e0; */
  /* color: #333; */
  /* font-size: 1rem; */
  /* font-weight: bold; */
  /* padding: 0.5em 1em; */
  /* border-radius: 0.5em; */
  /* transition: background-color 0.3s ease; */
}

/* .article-item .topic-btn:hover {
  background-color: #ccc;
} */

.article-item .article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.article-item h2 {
  max-height: 10rem;
  /* color: #2b2b2b; */
  font-size: 2.5rem; /* Larger font size for desktop */
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left; /* Align left for a cleaner look */
  /* Multi-line ellipsis */

  /* Standard property (not widely supported yet) */
  line-clamp: 2;
  /* WebKit-specific implementation */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show at most 2 lines */
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  /* font-size: 0.875rem; */
  /* color: #666; */
  color: var(--text-muted);
  margin-top: 1rem;
  align-items: center;
}

.article-meta p {
  margin: 0;
}

.article-item .share-btn,
.comment-btn {
  background-color: transparent;
  color: var(--text);
}

.article-item .share-btn:hover,
.comment-btn:hover {
  background-color: var(--primary-focus);
  color: var(--bg);
}

.article {
  margin: auto;
  padding: 1.5rem;
  /* background: white; */
  background-color: var(--bg);
  border-radius: 1em;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 4px 10px var(--shadow); */
}

.article img {
  width: 100%;
  /* max-height: 400px; */
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.article h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  /* color: #333; */
}

.article-topic {
  font-size: 1rem;
  margin-bottom: 15px;
}

.article-topic a {
  /* color: #ff6b6b; */
  font-weight: bold;
  text-decoration: none;
}

/* .article-topic a:hover {
  text-decoration: underline;
} */

.article-info {
  font-size: 0.9rem;
  /* color: #666; */
  color: var(--text-muted);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.article-info p {
  margin: 0;
}

#article-body {
  text-align: justify;
  font-weight: 400;
}

/* Votes Section */
.article-votes {
  text-align: center;
  margin: 20px 0;
}

.vote-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Increased gap for better spacing */
  font-size: 1.2rem;
}

.vote-icon {
  width: 26px;
  height: 26px;
  transition: all 0.3s ease-in-out;
}

/* Ensure vote icons and count align properly */
.votes-count {
  font-size: 1.6rem;
  font-weight: bold;
  /* color: #444; */
  min-width: 50px; /* Helps prevent shifting when numbers change */
  text-align: center;
}

/* Add some padding to prevent overlap */
.add-votes {
  margin-top: 10px;
  /* font-size: 1rem; */
  /* color: #555; */
  color: var(--text-muted);
  font-weight: 400;
}

/* Error message styling */
.article-votes .error-msg {
  /* color: #d9534f; */
  font-weight: bold;
  margin-top: 10px;
}

/* Button Styling (Matches Users List) */
/* .comments button {
  font-size: 1rem;
} */

.scroll-btn button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* background-color: #fafafa; */
  background-color: transparent;
  /* color: #333; */
  color: var(--text);
  /* cursor: pointer; */
  /* transition: border-color 0.25s, background-color 0.25s; */
  margin: 1rem;
}

.scroll-btn button:hover {
  /* background-color: #e0e0e0; */
  background-color: var(--primary-focus);
  /* color: var(--bg); */
  color: white;
}

.scroll-btn.bottom-of-pg button {
  margin-bottom: 0;
}

.comments-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns to the right */
  margin-bottom: 10px; /* Adds spacing before the article body */
}

.comments-button-container button {
  font-size: 0.9rem;
}

.comments-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
}

.comments-header h2 {
  margin: 0;
}

/* Comments List Styling */
.comments-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: #fff; */
  background-color: var(--bg);
  border-radius: 1em;
  padding: 1.5rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 4px 8px var(--shadow); */
}

/* Individual Comment */
.comment-item {
  /* background: #f9f9f9; */
  background-color: var(--bg2);
  /* color: var(--text); */
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 1px solid #ddd; */
  border: 0.5px solid var(--shadow);
  box-shadow: 0px 2px 4px var(--shadow);
  transition: background-color 0.4s ease, box-shadow 0.4s ease,
    transform 0.7s ease;
}

.comment-item:focus {
  /* background: #e3fcef; */
  background-color: var(--success-bg);
  /* border-color: var(--success); */
  box-shadow: 0px 4px 8px rgba(76, 175, 80, 0.3);
  /* animation: fadeHighlight 3s ease-out forwards; */
  transform: scale(1.01);
}

/* dont need: */
@keyframes fadeHighlight {
  0% {
    /* background: #e3fcef; */
    background-color: var(--success-bg);
    /* border-color: var(--success); */
  }
  100% {
    /* background: #f9f9f9; */
    /* border-color: #ddd; */
    background-color: var(--bg2);
    /* border-color: var(--shadow); */
  }
}

/* Comment Header */
.comment-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.comment-author {
  font-size: 1rem;
  font-weight: bold;
  /* color: #333; */
  /* color: var(--text-muted); */
}

/* Comment Meta */
.comment-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-date {
  font-size: 0.875rem;
  /* color: #666; */
  /* color: #888; */
  color: var(--text-muted);
}

/* Comment Body */
.comment-body {
  font-size: 1rem;
  /* color: #444; */
  line-height: 1.5;
  margin-top: 0.5rem;
  text-align: left;
  font-weight: 400;
}

/* No Comments Message */
.no-comments {
  font-size: 1.1rem;
  /* color: #666; */
  color: var(--text-muted);
  text-align: center;
  padding: 1rem;
}

/* Error Message */
.comments .error-msg {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* Loading Message */
.comments .loading-msg {
  text-align: center;
  font-size: 1rem;
  color: var(--text-muted);
}

.add-comment-container .add-comment-button {
  margin-top: 1.5rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  background: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  /* background: white; */
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Delete Button Styling */
.popup-content .delete-btn button {
  /* background-color: #d9534f;  */
  /* Bootstrap danger red */
  background-color: var(--delete);
  /* color: white; */
  /* font-weight: bold; */
  margin-right: 0.5rem;
}

.popup-content .delete-btn button:hover {
  /* background-color: #c9302c;  */
  /* Slightly darker red */
  background-color: var(--delete-focus);
}

.popup-content .delete-btn button:disabled {
  background-color: #f2a7a3; /* Muted red when disabled */
  cursor: not-allowed;
}

.popup-content .return-to-comment-btn button {
  /* background-color: #4caf50; */
  /* color: white; */
  background-color: var(--success);
  color: var(--bg);
  margin-right: 0.5rem;
}

.popup-content .return-to-comment-btn button:hover {
  /* background-color: #388e3c; */
  background-color: var(--success-focus);
}

.dropdown-container {
  position: relative;
}

.dropdown-container button {
  /* background-color: #f1f1f1; */
  background-color: transparent;
  color: var(--text);
  font-size: 1.25rem;
  padding: 5px;
}

/* .dropdown-container button:hover {
  background-color: #e0e0e0;
} */

.dropdown-menu {
  position: absolute;
  top: 1.25rem;
  right: 0;
  /* background: white; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  background-color: var(--bg);
  border: 1px solid var(--shadow);
  box-shadow: 0px 4px 6px var(--shadow);
  padding: 0 0;
}

.dropdown-menu button {
  padding: 0.75rem;
  white-space: nowrap;
  /* border-radius: 0; */
  /* background-color: white; */
  /* background-color: var(--bg); */
  color: var(--text);
  font-size: 1rem;
}

.dropdown-menu button:hover {
  /* background-color: #f1f1f1; */
  background-color: var(--delete-focus);
  /* color: var(--bg); */
  color: white;
}
/* 
.add-comment-container {
  box-shadow: 0px 4px 8px var(--shadow);
} */

.add-comment-container .add-comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  /* border: 1px solid #ddd; */
  border: 1px solid var(--shadow);
  /* border-radius: 8px; */
  border-radius: 1em;
  /* background-color: #f9f9f9; */
  background-color: var(--bg2);
  box-shadow: 0px 2px 8px var(--shadow);
}

.add-comment-container .add-comment label {
  /* font-size: 1.1rem; */
  font-weight: 600;
  /* color: #333; */
  color: var(--text-muted);
}

.add-comment-container .add-comment textarea {
  width: 95%;
  padding: 0.8rem;
  /* border: 1px solid #ccc; */
  /* border-radius: 6px; */
  border: 1px solid var(--shadow);
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  background-color: var(--bg);
  color: var(--text);
}

.add-comment-container .add-comment button {
  /* background-color: #4caf50; */
  background-color: var(--success);
  /* color: white; */
  /* border: none;
  padding: 0.7rem 1rem; */
  /* font-size: 1rem; */
  /* border-radius: 6px; */
  /* cursor: pointer; */
  /* transition: background-color 0.2s ease, transform 0.1s ease; */
}

.add-comment-container .add-comment button:hover {
  /* background-color: #388e3c; */
  background-color: var(--success-focus);
}

.add-comment-container .add-comment button:disabled:hover {
  background-color: var(--success);
}

/* .add-comment-container .add-comment button:disabled {
  background-color: #f1f1f1;
  color: #aaa;
  cursor: not-allowed;
} */

.add-comment-container .error-msg {
  /* color: #d9534f; */
  font-weight: bold;
  margin-top: 1rem;
}

.view-posted-comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 6px;
  /* background-color: #e8f5e9; */
  /* color: #2e7d32; */
  background-color: var(--success-bg);
  color: var(--success-focus);
  font-weight: bold;
}

.view-posted-comment button {
  /* background-color: #2e7d32; */
  background-color: var(--success);
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

.view-posted-comment button:hover {
  /* background-color: #1b5e20; */
  background-color: var(--success-focus);
}

/* Pagination Styling */
.pagination {
  text-align: center;
  margin-top: 2em;
  padding: 1.5rem;
  /* background-color: #fff; */
  background-color: var(--bg);
  border-radius: 1em;
  /* box-shadow: 0px 4px 8px var(--shadow); */
}
.pagination p {
  margin: 0rem;
}
.pagination-header {
  margin-bottom: 1em;
  /* color: var(--text-muted); */
  font-size: 0.9em;
  font-weight: 400;
}
.pagination select {
  padding: 0.2em 0.3em;
  margin-inline: 0.3rem;
  font-size: 1em;
  /* color: var(--text-muted); */
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .pagination select:hover {
  background-color: #eaeaea;
} */
/* .pagination select:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0px 0px 5px rgba(100, 108, 255, 0.5);
} */
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1.5em; */
}
.pagination-controls button {
  /* font-size: 0.9rem; */
}
/* .pagination-controls button:disabled {
  background-color: #f1f1f1;
  color: #aaa;
  cursor: not-allowed;
}
.pagination-controls button:disabled:hover {
  background-color: #f1f1f1;
} */
/* .pagination-info {
  font-size: 1.1em;
  font-weight: 500;
} */

/* Users Page */
.users-pg h3 {
  color: var(--text-muted);
}

.users-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: start;
  padding: 20px;
  background-color: var(--bg);
  /* border-radius: 8px; */
  border-radius: 1em;
}

.users-list h2 {
  /* margin: 8px 0; */
  font-size: 1.2rem;
}

.users-list .user {
  height: 88%;
  /* background-color: #f9f9f9; Light background for a clean look */
  /* border: 1px solid rgba(0, 0, 0, 0.1); Subtle border */
  background-color: var(--bg2);
  border: 1px solid var(--shadow);
  /* border-radius: 8px; */
  border-radius: 1em;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Soft shadow for depth */
  box-shadow: 0 4px 8px var(--shadow);
  transition: transform 0.2s ease-in-out;
}

.users-list .user:hover {
  transform: translateY(-3px) scale(1.06);
}

.users-list img {
  /* width: 80px; */
  height: 80px;
  max-width: 110px;
  object-fit: cover;
  border-radius: 8px;
}

.users-list .username-container {
  width: 100%;
  padding: 8px 0;
  font-size: 1rem;
  font-weight: bold;
  /* color: #333; */
}

.users-list button {
  font-size: 0.9rem;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.3em;
  }

  button {
    font-size: 0.8em;
    padding: 0.4em 0.8em;
  }

  select {
    padding: 0.3em 0.6em;
  }

  header {
    padding: 1rem 1.5rem;
    /* display: block; */
    /* flex-direction: column; */
  }

  header p {
    display: none;
  }

  header .title img {
    padding: 0;
    /* padding-bottom: 0.6rem; */
  }

  header .login-link {
    display: none;
  }

  nav {
    /* flex-direction: column; */
    gap: 0.1rem;
  }

  nav a {
    font-size: 1em;
    line-height: normal;
  }
  /* 
  .theme-toggle {
    font-size: 0.55em;
  } */

  footer {
    padding: 1.5em;
    /* margin-top: 1em; */
    margin-top: 0.1em;
  }

  footer p {
    font-size: 0.7rem;
  }

  .loading-msg {
    font-size: 1rem;
  }

  .bold-btn button {
    font-size: 0.7em;
  }

  .scroll-btn button {
    margin: 0;
  }

  .vertical-margin {
    margin-top: 1em;
  }

  .latest-articles-slideshow {
    margin-top: 1rem;
  }
  .latest-articles-slideshow h2 {
    font-size: 0.9rem;
  }
  .slide-title {
    font-size: 1.2rem;
  }

  .articles-by-topic-section {
    margin-bottom: 1rem;
    margin-top: 1rem;
    overflow-x: hidden;
  }
  .topics-header {
    margin-top: 0rem;
  }
  .topics-header h2 {
    font-size: 0.9rem;
  }
  .view-all-link {
    font-size: 0.8rem;
  }
  .topics-grid {
    gap: 0.5rem;
    padding: 1rem;
  }
  .topic-card h3 {
    font-size: 1.2rem;
  }
  .topic-card p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  #nav-path {
    font-size: 1rem;
    margin-top: 0.2rem;
  }

  .articles-title-select-topic-container {
    gap: 0.5rem;
    margin: 0.5em;
    margin-bottom: 0.25em;
  }
  .articles-title-select-topic-container h1 {
    margin: 0;
  }
  .articles-title-select-topic-container select {
    font-size: 1rem;
  }
  .articles-list-container .error-msg {
    font-size: 1rem;
  }

  .sort-options-container {
    padding: 0rem;
  }
  .sort-options {
    margin: 1rem 0;
  }
  .sort-options form {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  .sort-options form div {
    gap: 0.5rem;
  }
  .sort-options select {
    font-size: 0.85rem;
  }
  .sort-options label {
    font-size: 0.85rem;
  }

  .article-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* For positioning the topic button */
  }
  .article-item .topic-btn {
    /* font-size: 0.7rem; */
    top: 1.5rem;
    right: 1.5rem;
  }

  .article-content {
    width: 100%;
    text-align: center;
  }
  .article-header {
    display: block;
    width: 100%;
  }
  .article-item h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
  .article-meta {
    font-size: 0.9rem;
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .article-meta p {
    margin: 0.5rem;
  }

  /* Pagination */
  .pagination {
    padding: 1rem 0;
    margin-top: 1em;
  }

  .pagination-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .pagination-controls {
    justify-content: space-evenly;
    /* gap: 0; */
  }

  /* .pagination-controls button {
    font-size: 0.8rem;
  } */

  /* Adjust article list layout */

  .articles-list-container,
  .comments-list {
    padding: 1rem;
  }

  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .article h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* color: #333; */
  }
  .article-topic {
    font-size: 0.8em;
  }
  .article-info {
    font-size: 0.8em;
  }
  .comments-button-container button {
    font-size: 0.6rem;
  }

  .votes-count {
    font-size: 1.4rem;
  }
  .add-votes {
    font-size: 0.8rem;
  }

  .comments-header {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0.1em;
  }
  .comments-header h2 {
    margin: 0.3em;
  }
  .comments-header button {
    margin-bottom: 1rem;
  }

  .comment-item-header {
    display: block;
  }

  .comment-author {
    margin: 0;
    text-align: left;
  }

  .comment-meta {
    justify-content: space-between;
  }

  .comment-date {
    margin: 0.47rem;
    margin-left: 0.1rem;
    font-size: 0.8rem;
    /* font-weight: 400; */
  }

  .dropdown-container button {
    font-size: 1rem;
  }

  .comment-body {
    margin: 0;
    font-size: 0.9rem;
  }

  .add-comment-container {
    padding: 1rem;
    padding-top: 0.1rem;
  }
  .comment-info {
    margin: 0.7em;
  }
  .add-comment-container .add-comment-button {
    margin-top: 1.1em;
  }

  .add-comment-container .add-comment {
    padding: 1rem;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .add-comment-container .add-comment textarea {
    width: 88%;
    font-size: 0.8rem;
  }

  #users {
    margin-bottom: 0;
  }
  .users-pg h3 {
    margin-top: 0.5em;
  }

  .users-list {
    margin-bottom: 20px;
  }
}

/* Extra Small Screens (phones) */
@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  header {
    padding: 1rem;
  }

  header .title img {
    height: 30px;
  }

  .view-all-link {
    font-size: 0.7rem;
  }

  .article-title {
    font-size: 1.2rem;
  }

  .pagination-buttons {
    gap: 1rem;
  }
}
